/* ----------- TABLETS ----------- */
@media (max-width: 992px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-box {
    flex-direction: column;
    text-align: center;
  }
}

/* ----------- MOBILE ----------- */
@media (max-width: 768px) {

  /* NAV MOBILE */
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    flex-direction: column;
    padding-top: 100px;
    transition: 0.3s;
    box-shadow: -3px 0 10px rgba(0,0,0,0.2);
  }

  .nav-menu.show {
    right: 0;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 20px;
  }

  .menu-btn {
    display: block;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
  }

  /* HERO */
  #showcase h2 { font-size: 32px; }
  #showcase h3 { font-size: 20px; }

  /* MENU */
  .menu-grid {
    grid-template-columns: 1fr;
  }
}
