@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Righteous&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --primary_color: #e74c3c;
    --white_color: #fff;
    --ubuntu: "Ubuntu";
    --righteous: "Righteous";
    --box-shadow: 10px 10px 5px rgba(0,0,0,.3);
}

html{
    font-size: 70%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

body{
    padding-top: 100px;
}

.container{
    max-width: 1440px;
    margin: auto;
    padding: 0 80px;
}

/* HEADER */
header{
    width: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    padding: 1.5rem 0;
    top:0;
    left:0;
    z-index:100;
}

.logo img{
    width: 120px;
    object-fit: contain;
    display: block;
}

/* NAVBAR */
.custom-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-navbar nav ul{
    display: flex;
    align-items: center;
}

.custom-navbar nav ul li{
    list-style: none;
    padding: 20px 15px;
    margin: 0 1rem;
}

.custom-navbar nav ul li a{
    font-family: 'Righteous', cursive;
    color: var(--white_color);
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
}
.custom-navbar nav ul li a::after{
    content: "";
    position: absolute;
    height: 3px;
    background: var(--primary_color);
    width: 0;
    left: 0;
    top: 30px;
    transition: all 0.5s ease-in-out;
}

.custom-navbar nav ul li a:hover::after{
    width: 100%;

}

/* Showcase start */ 
#showcase{
    background: url('../img/image1.jpg') no-repeat center center/cover;
    min-height: 100vh;
    position: relative;
    z-index: -10;
}

#showcase::before{
    content: "";
    background: rgba(0,0,0,.6);
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
}

#showcase .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

#showcase .content h2{
    font-size: 7rem;
    font-family: var(--righteous);
    color: var(--white_color);
    text-align: center;
    letter-spacing: 2px;
}

#showcase .content h3{
    font-size: 3rem;
    font-family: var(--righteous);
    color: var(--white_color);
    text-align: center;
    letter-spacing: 2px;
}


